@model appAgenda.ViewModels.Agenda.TelefoneViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TelefoneViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DDI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DDI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTelefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTelefone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTelefone }) |
    @Html.ActionLink("Back to List", "Index")
</p>
